<meta charset="UTF-8">
<title>Hi ITS EJS APP</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
   body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
</style>