<h2 class="page-header"> Register </h2>
{{#if errors}}
     {{#each errors}}
       <div class="alert alert-danger"> {{msg}}</div>
      {{/each}}
 {{/if}}

<div>
<form method="post" action="/users/register">

<div class="form-group">
  <label>Name</label>
  <input class="form-control" type="text" name="name" placeholder="Name"/>
</div>

<div class="form-group">
  <label>UName</label>
  <input class="form-control" type="text" name="username" placeholder="username"/>
</div>

<div class="form-group">
  <label>Email</label>
  <input class="form-control" type="text" name="email" placeholder="Email"/>
</div>

<div class="form-group">
  <label>password</label>
  <input class="form-control" type="text" name="password" placeholder="password"/>
</div>


<div class="form-group">
  <label>confirm password</label>
  <input class="form-control" type="text" name="confirm password" placeholder="confirm password"/>
</div>

<button type="submit" class="btn btn-primary"> Submit</button>
</form>
</div>